.item {
    height: 270px;
    width: 270px;
    min-width: 200px;
}

.featureview-page .item {
    padding: 5px;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.presence-on {
    color: coral;
}

.presence-off {
    color: green;
}

.presenceWrapper {
    width: 100%;
}

.card-container {
    padding: 2px 16px;
}

.darkTheme div[class*="featureCard"] {
    background: #282828;
    color: #ffffff;
}

.lightTheme div[class*="featureCard"] {
    background: #ffffff;
    color: #000000;
}