.deviceContent {
  padding: 2em 0.5em 2em 0.5em;
  width: 100%;
  display: block;
}

.deviceCard {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: space-between;
}

.deviceCardContent {
  padding-right: 2em;
}

.deviceGrid {
  max-width: 20em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: left;
  overflow-x: auto;
}
.deviceGrid * {
  height: 3em;
}

.deviceCard {
  min-width: 20rem;
  max-width: 35rem;
}

@media only screen and (max-width: 575px) {
  .deviceCard {
    flex-direction: row;
    max-width: 90%;
  }

  .deviceGrid {
    padding-top: 1em;
  }
}
