.reportSmall.device {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.deviceWrapperSmall {
  cursor: pointer;
}

.reportSmallContainer {
  height: 50px;
}

.deviceWrapperSmall.error {
  border: 0.8em solid #de1313;
}

.deviceWrapperSmall.warning {
  border: 0.8em solid #ff9900;
}

.deviceWrapperSmall.active {
  border: 0.8em solid #27c01a;
}
.deviceWrapperSmall.error,
.deviceWrapperSmall.warning,
.deviceWrapperSmall.active {
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding-left: 1em;
  display: grid;
  border-radius: 0.6rem;
  margin-bottom: 0.5em;
  width: 100%;
}
