.mainButton {
  width: 100%;
  background-color: #c3682a;
  color: #ffffff;
  border: none;
  height: 2.5em;
  font-weight: bold;
  font-size: 1em;
  border-radius: 0.313em;
}

.mainButton:hover {
  color: #000000;
}

@media only screen and (min-width: 575px) {
  .mainButton {
    max-width: 100px;
  }
}
