.statusIcon.error {
    color: #de1313;
}

.statusIcon.warning {
    color: #ff9900;
}

.statusIcon.active {
    display: none;
}

.status.active:first-child {
    display: none;
}

.deviceWrapper.error {
    border: 0.8em solid #de1313;
}

.deviceWrapper.warning {
    border: 0.8em solid #ff9900;
}

.deviceWrapper.active {
    border: 0.8em solid #27c01a;
}

.deviceWrapper.inactive {
    border: 0.8em solid #0000003d;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.deviceWrapper.error,
.deviceWrapper.warning,
.deviceWrapper.inactive,
.deviceWrapper.active {
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding-left: 1em;
    display: grid;
    border-radius: 0.6rem;
    margin-bottom: 0.5em;
}

.device {
    height: fit-content;
    min-height: 3rem;
    align-items: center;
}

.content a {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
    color: inherit;
}

.contentWrapper {
    grid-column: 1/-1;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.item strong {
    margin-right: 1em;
}

.item p {
    margin-left: 1em;
    margin-bottom: 0px;
}

.content:last-child {
    padding-bottom: 2em;
}

.darkTheme div[class*="deviceWrapper"] {
    background: rgb(40, 40, 40);
}

.lightTheme div[class*="deviceWrapper"] {
    background: rgb(255, 255, 255);
}

svg {
    padding-left: 5px;
}