.status.active:first-child {
    display: none;
}

.alarmWrapper.closed {
    border: 0.8em solid #0000003d;
}

.alarmWrapper.low {
    border: 0.8em solid #f88686;
}

.alarmWrapper.medium {
    border: 0.8em solid #fc2b2b;
}

.alarmWrapper.high {
    border: 0.8em solid #ff0000;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.alarmWrapper.closed,
.alarmWrapper.low,
.alarmWrapper.medium,
.alarmWrapper.high {
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding-left: 1em;
    display: grid;
    border-radius: 0.6rem;
    margin-bottom: 0.5em;
}

.alarm {
    height: fit-content;
    min-height: 3rem;
    align-items: center;
}

.content a {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
    color: inherit;
}

.contentWrapper {
    grid-column: 1/-1;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content li {
    margin-left: -15px;
}

.content strong {
    margin-right: 10px;
}

.content:last-child {
    padding-bottom: 2em;
}

.darkTheme div[class*="alarmWrapper"] {
    background: rgb(40, 40, 40);
}

.lightTheme div[class*="alarmWrapper"] {
    background: rgb(255, 255, 255);
}

svg {
    padding-left: 5px;
}

.mainButton {
    width: 100%;
    background-color: #c3682a;
    color: #ffffff;
    border: none;
    height: 2.5em;
    font-weight: bold;
    font-size: 1em;
    border-radius: 0.313em;
}

.mainButton:hover {
    color: #000000;
}

@media only screen and (min-width: 575px) {
    .mainButton {
        max-width: 100px;
    }
}