.darkTheme div[class*="TransparentCardTitle"] {
  background: rgba(40, 40, 40, 0.5);
}

.lightTheme div[class*="TransparentCardTitle"] {
  background: rgba(255, 255, 255, 0.5);
}

.TransparentCardTitle {
  border-radius: 0.313em 0.313em 0.313em 0.313em;
  padding-left: 0.5em;
}

.TransparentCardWrapper {
  display: flex;
  justify-content: center;
}

.TransparentCardContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.TransparentCardContent {
  background: transparent;
  border-radius: 0 0 0.313em 0.313em;
  padding: 1em 0 1em 0;
}
