@font-face {
  font-family: "Montsterrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montsterrat";
  src: url(./assets/fonts/Montserrat-Italic-VariableFont_wght.woff2)
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

#root {
  font-family: "Montsterrat";
  font-size: 14px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

.eyecatcher {
  color: #c3682a;
}

.subtle {
  color: #282828;
}

.active {
  color: #27c01a;
}

.inactive {
  color: #de1313;
}

.snow {
  color: #ffffff;
}

.slate {
  color: #000000;
}
