.navbar {
  background-color: #282828 !important;
}

.navbar svg {
  margin: 0rem 1rem 0rem 1rem;
}

.nav-link {
  fill: white !important;
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.offcanvas {
  background-color: #282828 !important;
}

.offcanvas-end {
  width: 100%;
}

.navbar-nav {
  align-items: center;
}
.navbar-nav a {
  margin: 2em 0em 2em 0em !important;
}

.btn-close {
}
