.darkTheme nav {
  background: #282828 !important;
}

.lightTheme nav {
  background: #ffffff !important;
}

.navbar svg {
  margin: 0rem 1rem 0rem 1rem;
}

.lightTheme a[class*="nav-link"] {
  fill: rgb(0, 0, 0) !important;
  color: rgb(0, 0, 0) !important;
}
.darkTheme a[class*="nav-link"] {
  fill: rgb(255, 255, 255) !important;
  color: rgb(255, 255, 255) !important;
}

.darkTheme nav[class*="navbar-diwise"] {
  --bs-navbar-color: transparent;
  --bs-navbar-hover-color: #ffa500;
  --bs-navbar-disabled-color: rgb(255, 255, 255);
  --bs-navbar-active-color: #ffa500;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #ffa500;
  --bs-navbar-toggler-border-color: none;
  --bs-navbar-toggler-icon-bg: url(../../assets/icons/mobile-nav-dark.svg) !important;
}

.lightTheme nav[class*="navbar-diwise"] {
  --bs-navbar-color: transparent;
  --bs-navbar-hover-color: #ffa500;
  --bs-navbar-disabled-color: rgb(0, 0, 0);
  --bs-navbar-active-color: #ffa500;
  --bs-navbar-brand-color: rgb(0, 0, 0);
  --bs-navbar-brand-hover-color: #ffa500;
  --bs-navbar-toggler-border-color: none;
  /* --bs-navbar-toggler-icon-bg: url(../../assets/icons/mobile-nav-light.svg) !important; */
}

.lightTheme a[class*="nav-link"]:hover {
  fill: #ffa500 !important;
  color: #ffa500 !important;
}

.darkTheme a[class*="nav-link"]:hover {
  fill: #ffa500 !important;
  color: #ffa500 !important;
}

.darkTheme div[class*="offcanvas"] {
  background: #282828 !important;
}
.offcanvas-header .btn-close {
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 10px !important;
  opacity: 1 !important;
  background-repeat: no-repeat !important;
}

.darkTheme button[class*="btn-close"] {
  background: url(../../assets/icons/close-menu-dark.svg) !important;
}

.lightTheme button[class*="btn-close"] {
  background: url(../../assets/icons/close-menu-light.svg) !important;
}

.darkTheme span[class*="navbar-toggler-icon"] {
  fill: #ffa500 !important;
  color: #ffa500 !important;
}

.offcanvas-end {
  width: 100%;
}

.navbar-nav {
  align-items: center;
}
.navbar-nav a {
  margin: 2em 0em 2em 0em !important;
}

/* .lightTheme div[class*="navbar"],
.lightTheme div[class*="container-f"],
.lightTheme div[class*="navbar"] svg {
  background: #ffffff !important;
  fill: black !important;
  color: black !important;
}

.darkTheme div[class*="navbar"],
.darkTheme div[class*="container-f"],
.darkTheme div[class*="navbar"] svg {
  background: #282828 !important;
  fill: white !important;
  color: white !important;
}

.mb-3 {
  padding: 0;
}

.navbar svg {
  margin: 0rem 1rem 0rem 1rem;
}

.nav-link:hover {
  fill: #ffa500 !important;
  color: #ffa500 !important;
}

.navbar-brand {
  color: white !important;
}

.darkTheme div[class="offcanvas"] {
  background: #282828 !important;
}

.lightTheme div[class="offcanvas"] {
  background: #ffffff !important;
}
 */
