.blockWrapper {
  display: flex;
  justify-content: center;
}

.blockContainer {
  width: 90%;
  max-width: 83.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.blockTitle {
  border-radius: 0.313em 0.313em 0 0;
}

.blockContent {
  background: #282828;
  border-radius: 0 0 0.313em 0.313em;
  display: flex;
  justify-content: center;
  padding: 1em 0 1em 0;
}

.searchForm {
  width: 90%;
}

@media only screen and (min-width: 575px) {
  .searchForm form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .searchForm form > div {
    width: 15em;
    margin: 0 1em 0 1em;
  }

  .searchForm form div:last-child {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
}

.darkTheme div[class="blockTitle"] {
  background: rgba(40, 40, 40, 0.5);
}

.lightTheme div[class="blockTitle"] {
  background: rgba(255, 255, 255, 0.5);
}

.darkTheme div[class="blockContent"] {
  background: #282828;
}

.lightTheme div[class="blockContent"] {
  background: #ffffff;
}
