.searchForm {
  width: 90%;
}

.search {
  justify-content: center;
}

@media only screen and (min-width: 575px) {
  .searchForm form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .searchForm form > div {
    width: 15em;
    margin: 0 1em 0 1em;
  }

  .searchForm form div:last-child {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
}
