.deviceWrapperError {
  border: 0.8em solid #de1313;
}

.deviceWrapperWarning {
  border: 0.8em solid #ff9900;
}

.deviceWrapperActive {
  border: 0.8em solid #27c01a;
}

.deviceWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 95%;
  max-width: 83.5rem;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 0.313em 0.313em 0.313em 0.313em;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.deviceContainer {
  width: 100%;
  height: 200px;
  max-width: 83.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: normal;
  justify-content: flex-start;
  height: 5em;
}

.device {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.device :first-child {
  margin-left: 1em;
}

.device > * {
  max-width: fit-content;
  text-align: center;
  margin-right: 5em;
}

.device :last-child {
  margin-right: 1em;
}

.deviceContent {
  padding: 0 1em 0 1em;
  display: flex;
  width: 100%;
  padding-bottom: 2em;
}

.deviceStatus {
  flex-basis: 20em;
  font-weight: 700;
}

.deviceDescription {
  flex-basis: 50%;
  font-weight: 700;
}

.deviceDescription > *,
.deviceStatus > * {
  font-weight: normal;
}

.collapsible {
  position: relative !important;
  display: block !important;
  width: 100%;
  margin-left: 20px;
}

.darkTheme div[class*="deviceWrapper"] {
  background: #282828;
}

.lightTheme div[class*="deviceWrapper"] {
  background: #ffffff;
}
