.dashboard-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.device-page {

    /* display: grid; 
    grid-template-columns: repeat(2, 1fr) repeat(3, 0);
    grid-template-rows: repeat(2, 1fr) 0 0;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    align-items: center;
    max-width: fit-content; */
    @media only screen and (min-width: 772px) {
        margin-left: 16rem;
        align-items: flex-start;
        align-self: flex-start;
    }

    align-self: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.alarms-page {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.function-page {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.function-page>div {
    padding: 10px;
}

.function-page button {
    display: none;
}

.devicelist-page {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.functionview-page {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.device-page {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.device-page strong {
    margin-right: 10px;
    margin-left: 5px;
}

.device-page button {
    display: none;
}

.measurements {
    scroll-behavior: auto;
    overflow-y: scroll;
    height: 200px;
    width: 100%;
}

.device-page .alarms {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.device-page .blockWrapper {
    width: 100%;
}

.device-page .blockWrapper .blockContainer {
    width: 100%;
}

.break {
    flex-basis: 100%;
    height: 0;
}