.dashCard {
  width: 19rem;
  height: 19rem;
  padding-bottom: 1.75rem;
  border-radius: 1.25rem;
  font-size: 8em;
  margin: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.dashText {
  font-size: 32px;
  text-align: center;
}
