.dashCard {
  width: 19rem;
  height: 19rem;
  padding-bottom: 1.75rem;
  border-radius: 1.25rem;
  font-size: 8em;
  margin: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(105, 99, 99, 0.817);
}

.dashCard:hover {
  transform: scale(1.1);
  border-width: 3px;
}
.dashText {
  font-size: 32px;
  text-align: center;
}

.darkTheme div[class*="dashCard"] {
  background: #282828;
}

.lightTheme div[class*="dashCard"] {
  background: #ffffff;
}
