.item {
    height: 270px;
    width: 270px;
    min-width: 200px;
}

.functionview-page .item {
    padding: 5px;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.functionCard strong {
    margin-right: 10px;
}

.presence-on {
    justify-content: center;
    display: flex;
}

.presence-off {
    display: flex;
    justify-content: center;
}

.presence-on svg path {
    fill: green;
}

.presence-off svg path {
    fill: coral;
}

.presenceWrapper {
    width: 100%;
}

.card-container {
    padding: 2px 16px;
}

.darkTheme div[class*="functionCard"] {
    background: #282828;
    color: #ffffff;
}

.lightTheme div[class*="functionCard"] {
    background: #ffffff;
    color: #000000;
}